body {
    font-family: sans-serif;
}

.alert-info {
    padding: 1em;
    width: 100%;
    background-color: lightblue;
    text-align: center;
    border: 1px solid lightgray;
}

.alert-info a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

nav {
    text-align: center;
}

ul * {
    list-style-type: none;
}

li {
    background-color: lightgray;
    padding: 1em;
    margin: .5em 0;
}

ul {
    margin: 0;
    padding: 0;
}

.header-img {
    display: flex;
}

img {
    width: 100%;
}

.sub-section {
    font-style: italic;
    margin: 3em 0;
}

footer {
    padding-top: 3em;
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {
    .alert-info {
        display: none;
    }

    h1 {
        float: left;
    }

    li {
        background-color: transparent;
    }

    ul {
        display: flex;
        justify-content: flex-end;
    }

    .header-img {
        clear: left;
    }

    .main {
        width: 60%;
    }

    .sub-section {
        width: calc(40% - 1em);
        margin: 0;
        padding-left: 1em;
    }

    section {
        float: left;
    }

    h2 {
        padding: 1em 0;
    }

    footer {
        padding-top: 30em;
        clear: left;
    }
}

